footer(style={'background-color': 'rgba(0, 0, 0, 0.842)','color': 'white;'})
  .container.p-4
    .row
      .col-lg-4.col-sm-12.text-center
        h5 &Dstrok;i&#x1EC1;u h&#x1B0;&#x1EDB;ng
      .col-lg-4.col-sm-12.text-center
        img.mb-2(src='./../img/logo.png' alt='logo' width='200px')
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolore, doloribus consequatur autem at recusandae labore repellendus sed similique ducimus, fugit ratione sequi quibusdam eos quo dolores dolor hic minima?
        .input-group.mb-2
          input#inlineFormInputGroup.form-control(type='text' placeholder='Email')
      .text-left.col-lg-4.col-sm-12
        h5 TH&Ocirc;NG TIN LI&Ecirc;N H&#x1EC6;
        p
          small 123 L&yacute; Th&#x1B0;&#x1EDD;ng Ki&#x1EC7;t, &Dstrok;&#x1ED1;ng &Dstrok;a, H&agrave; N&#x1ED9;i
          br
          small dongho@gmail.com
